.card {
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	height: 350px;
	width: 250px;
	/* transition: all 400ms ease; */
}

.card:hover {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-3%);
	transition: all 1s;
}

.card-header {
	text-align: center;
	font-weight: 2000;
	border-radius: 15px;
	font-family: "Ubuntu", sans-serif;
}

.card-footer {
	text-align: center;
	border-radius: 15px;
}

.row {
	margin-top: 30px;
	justify-content: center;
}

.form-control {
	max-width: 500px;
}

input {
	text-align: center;
}

.badge-normal {
	background-color: rgb(167, 159, 159);
	color: white;
}
.badge-grass {
	background-color: rgb(56, 209, 56);
	color: white;
}
.badge-fire {
	background-color: rgb(236, 128, 4);
	color: white;
}
.badge-water {
	background-color: rgb(101, 101, 221);
	color: white;
}
.badge-fighting {
	background-color: brown;
	color: white;
}
.badge-flying {
	background-color: rgb(122, 122, 209);
	color: white;
}
.badge-poison {
	background-color: rgb(139, 11, 139);
	color: white;
}
.badge-ground {
	background-color: greenyellow;
}
.badge-rock {
	background-color: grey;
	color: white;
}
.badge-bug {
	background-color: rgb(16, 148, 16);
	color: white;
}
.badge-ghost {
	background-color: rgb(201, 84, 201);
	color: white;
}
.badge-electric {
	background-color: yellow;
}
.badge-psychic {
	background-color: rgb(255, 136, 156);
	color: white;
}
.badge-ice {
	background-color: rgb(182, 182, 243);
}
.badge-dragon {
	background-color: rgb(147, 77, 228);
	color: white;
}
.badge-dark {
	background-color: rgb(23, 56, 17);
	color: white;
}
.badge-steel {
	background-color: steelblue;
	color: white;
}
.badge-fairy {
	background-color: rgb(241, 182, 243);
}

.badge-big {
	width: 150px;
	height: 40px;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.container {
	background-color: whitesmoke;
	border-radius: 15px;
}
