<app-loading class="m-5" *ngIf="loading"></app-loading>

<div *ngIf="!loading">
	<div class="row animated fadeIn fast center">
		<div class="row-col-8">
			<div class="card text-dark bg-light m-5">
				<div class="card-header center">
					<span [ngSwitch]="pokemon.types[0].type.name">
						<div *ngSwitchCase="'normal'" class="badge badge-big badge-pill badge-normal">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'grass'" class="badge badge-big badge-pill badge-grass">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'fire'" class="badge badge-big badge-pill badge-fire">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'water'; bug" class="badge badge-big badge-pill badge-water">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'fighting'" class="badge badge-big badge-pill badge-fighting">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'flying'" class="badge badge-big badge-pill badge-flying">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'poison'" class="badge badge-big badge-pill badge-poison">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'ground'" class="badge badge-big badge-pill badge-ground">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'rock'" class="badge badge-big badge-pill badge-rock">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'bug'" class="badge badge-big badge-pill badge-bug">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'ghost'" class="badge badge-big badge-pill badge-ghost">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'electric'" class="badge badge-big badge-pill badge-electric">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'psychic'" class="badge badge-big badge-pill badge-psychic">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'ice'" class="badge badge-big badge-pill badge-ice">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'dragon'" class="badge badge-big badge-pill badge-dragon">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'dark'" class="badge badge-big badge-pill badge-dark">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'steel'" class="badge badge-big badge-pill badge-steel">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchCase="'fairy'" class="badge badge-big badge-pill badge-fairy">{{ pokemon.id }}- {{ name | uppercase }}</div>
						<div *ngSwitchDefault class="badge badge-big badge-pill badge-success">{{ pokemon.id }}- {{ name | uppercase }}</div>
					</span>
				</div>
				<div class="card-body">
					<img [src]="imagefront" class="card-img-top" alt="" />
				</div>
				<div class="card-footer">
					<span *ngFor="let type of types">
						<span [ngSwitch]="type.type.name">
							<div *ngSwitchCase="'normal'" class="badge badge-pill badge-normal">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'grass'" class="badge badge-pill badge-grass">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'fire'" class="badge badge-pill badge-fire">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'water'" class="badge badge-pill badge-water">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'fighting'" class="badge badge-pill badge-fighting">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'flying'" class="badge badge-pill badge-flying">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'poison'" class="badge badge-pill badge-poison">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'ground'" class="badge badge-pill badge-ground">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'rock'" class="badge badge-pill badge-rock">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'bug'" class="badge badge-pill badge-bug">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'ghost'" class="badge badge-pill badge-ghost">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'electric'" class="badge badge-pill badge-electric">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'psychic'" class="badge badge-pill badge-psychic">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'ice'" class="badge badge-pill badge-ice">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'dragon'" class="badge badge-pill badge-dragon">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'dark'" class="badge badge-pill badge-dark">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'steel'" class="badge badge-pill badge-steel">{{ type.type.name | uppercase }}</div>
							<div *ngSwitchCase="'fairy'" class="badge badge-pill badge-fairy">{{ type.type.name | uppercase }}</div>
						</span>
					</span>
				</div>
			</div>

			<div [routerLink]="['/home']" class="btn btn-danger m-5 center">Go back</div>
		</div>

		<div class="col-md-8 text">
			<div class="row">
				<div class="col-md-4">
					<h4 class="container center">
						<span [ngSwitch]="pokemon.types[0].type.name">
							<div *ngSwitchCase="'normal'" class="badge badge-pill badge-normal">Abilities</div>
							<div *ngSwitchCase="'grass'" class="badge badge-pill badge-grass">Abilities</div>
							<div *ngSwitchCase="'fire'" class="badge badge-pill badge-fire">Abilities</div>
							<div *ngSwitchCase="'water'" class="badge badge-pill badge-water">Abilities</div>
							<div *ngSwitchCase="'fighting'" class="badge badge-pill badge-fighting">Abilities</div>
							<div *ngSwitchCase="'flying'" class="badge badge-pill badge-flying">Abilities</div>
							<div *ngSwitchCase="'poison'" class="badge badge-pill badge-poison">Abilities</div>
							<div *ngSwitchCase="'ground'" class="badge badge-pill badge-ground">Abilities</div>
							<div *ngSwitchCase="'rock'" class="badge badge-pill badge-rock">Abilities</div>
							<div *ngSwitchCase="'bug'" class="badge badge-pill badge-bug">Abilities</div>
							<div *ngSwitchCase="'ghost'" class="badge badge-pill badge-ghost">Abilities</div>
							<div *ngSwitchCase="'electric'" class="badge badge-pill badge-electric">Abilities</div>
							<div *ngSwitchCase="'psychic'" class="badge badge-pill badge-psychic">Abilities</div>
							<div *ngSwitchCase="'ice'" class="badge badge-pill badge-ice">Abilities</div>
							<div *ngSwitchCase="'dragon'" class="badge badge-pill badge-dragon">Abilities</div>
							<div *ngSwitchCase="'dark'" class="badge badge-pill badge-dark">Abilities</div>
							<div *ngSwitchCase="'steel'" class="badge badge-pill badge-steel">Abilities</div>
							<div *ngSwitchCase="'fairy'" class="badge badge-pill badge-fairy">Abilities</div>
						</span>
					</h4>
					<ul class="list-group list-group-flush center">
						<li *ngFor="let ability of abilities" class="list-group-item">{{ ability.ability.name | uppercase }}</li>
					</ul>
				</div>

				<div class="col-md-8">
					<h4 class="container center">
						<span [ngSwitch]="pokemon.types[0].type.name">
							<div *ngSwitchCase="'normal'" class="badge badge-pill badge-normal">Images</div>
							<div *ngSwitchCase="'grass'" class="badge badge-pill badge-grass">Images</div>
							<div *ngSwitchCase="'fire'" class="badge badge-pill badge-fire">Images</div>
							<div *ngSwitchCase="'water'" class="badge badge-pill badge-water">Images</div>
							<div *ngSwitchCase="'fighting'" class="badge badge-pill badge-fighting">Images</div>
							<div *ngSwitchCase="'flying'" class="badge badge-pill badge-flying">Images</div>
							<div *ngSwitchCase="'poison'" class="badge badge-pill badge-poison">Images</div>
							<div *ngSwitchCase="'ground'" class="badge badge-pill badge-ground">Images</div>
							<div *ngSwitchCase="'rock'" class="badge badge-pill badge-rock">Images</div>
							<div *ngSwitchCase="'bug'" class="badge badge-pill badge-bug">Images</div>
							<div *ngSwitchCase="'ghost'" class="badge badge-pill badge-ghost">Images</div>
							<div *ngSwitchCase="'electric'" class="badge badge-pill badge-electric">Images</div>
							<div *ngSwitchCase="'psychic'" class="badge badge-pill badge-psychic">Images</div>
							<div *ngSwitchCase="'ice'" class="badge badge-pill badge-ice">Images</div>
							<div *ngSwitchCase="'dragon'" class="badge badge-pill badge-dragon">Images</div>
							<div *ngSwitchCase="'dark'" class="badge badge-pill badge-dark">Images</div>
							<div *ngSwitchCase="'steel'" class="badge badge-pill badge-steel">Images</div>
							<div *ngSwitchCase="'fairy'" class="badge badge-pill badge-fairy">Images</div>
						</span>
					</h4>
					<div class="container">
						<div id="carouselExampleControls" class="carousel slide" aria-setsize="40px" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img [src]="imagefront" class="d-block w-100" alt="..." />
								</div>
								<div class="carousel-item">
									<img [src]="imageback" class="d-block w-100" alt="..." />
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
