<app-loading class="m-5" *ngIf="loading"></app-loading>
<div class="pokemon-container mt-5">
	<div *ngIf="!loading">
		<div class="row animated fadeIn fast center">
			<div class="row-col-8">
				<div class="card text-dark bg-light m-5">
					<div class="card-header center">
						<span [ngSwitch]="mainType">
							<div *ngSwitchCase="'normal'" class="badge badge-big badge-pill badge-normal">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'grass'" class="badge badge-big badge-pill badge-grass">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'fire'" class="badge badge-big badge-pill badge-fire">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'water'; bug" class="badge badge-big badge-pill badge-water">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'fighting'" class="badge badge-big badge-pill badge-fighting">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'flying'" class="badge badge-big badge-pill badge-flying">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'poison'" class="badge badge-big badge-pill badge-poison">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'ground'" class="badge badge-big badge-pill badge-ground">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'rock'" class="badge badge-big badge-pill badge-rock">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'bug'" class="badge badge-big badge-pill badge-bug">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'ghost'" class="badge badge-big badge-pill badge-ghost">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'electric'" class="badge badge-big badge-pill badge-electric">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'psychic'" class="badge badge-big badge-pill badge-psychic">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'ice'" class="badge badge-big badge-pill badge-ice">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'dragon'" class="badge badge-big badge-pill badge-dragon">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'dark'" class="badge badge-big badge-pill badge-dark">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'steel'" class="badge badge-big badge-pill badge-steel">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchCase="'fairy'" class="badge badge-big badge-pill badge-fairy">#{{ id }} {{ name | uppercase }}</div>
							<div *ngSwitchDefault class="badge badge-big badge-pill badge-success">#{{ id }} {{ name | uppercase }}</div>
						</span>
					</div>
					<div class="card-body">
						<img [src]="imagefront" class="card-img-top" alt="" />
					</div>
					<div class="card-footer">
						<span *ngFor="let type of types">
							<span [ngSwitch]="type.type.name">
								<div *ngSwitchCase="'normal'" class="badge badge-pill badge-normal">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'grass'" class="badge badge-pill badge-grass">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'fire'" class="badge badge-pill badge-fire">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'water'" class="badge badge-pill badge-water">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'fighting'" class="badge badge-pill badge-fighting">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'flying'" class="badge badge-pill badge-flying">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'poison'" class="badge badge-pill badge-poison">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'ground'" class="badge badge-pill badge-ground">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'rock'" class="badge badge-pill badge-rock">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'bug'" class="badge badge-pill badge-bug">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'ghost'" class="badge badge-pill badge-ghost">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'electric'" class="badge badge-pill badge-electric">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'psychic'" class="badge badge-pill badge-psychic">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'ice'" class="badge badge-pill badge-ice">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'dragon'" class="badge badge-pill badge-dragon">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'dark'" class="badge badge-pill badge-dark">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'steel'" class="badge badge-pill badge-steel">{{ type.type.name | uppercase }}</div>
								<div *ngSwitchCase="'fairy'" class="badge badge-pill badge-fairy">{{ type.type.name | uppercase }}</div>
							</span>
						</span>
					</div>
				</div>

				<div [routerLink]="['/home']" class="btn btn-danger m-5 center">Go back</div>
			</div>

			<div class="col-md-8 text">
				<div class="row">
					<div class="col-md-4">
						<h4 class="container center">
							<span [ngSwitch]="mainType">
								<div *ngSwitchCase="'normal'" class="badge badge-pill badge-normal">Abilities</div>
								<div *ngSwitchCase="'grass'" class="badge badge-pill badge-grass">Abilities</div>
								<div *ngSwitchCase="'fire'" class="badge badge-pill badge-fire">Abilities</div>
								<div *ngSwitchCase="'water'" class="badge badge-pill badge-water">Abilities</div>
								<div *ngSwitchCase="'fighting'" class="badge badge-pill badge-fighting">Abilities</div>
								<div *ngSwitchCase="'flying'" class="badge badge-pill badge-flying">Abilities</div>
								<div *ngSwitchCase="'poison'" class="badge badge-pill badge-poison">Abilities</div>
								<div *ngSwitchCase="'ground'" class="badge badge-pill badge-ground">Abilities</div>
								<div *ngSwitchCase="'rock'" class="badge badge-pill badge-rock">Abilities</div>
								<div *ngSwitchCase="'bug'" class="badge badge-pill badge-bug">Abilities</div>
								<div *ngSwitchCase="'ghost'" class="badge badge-pill badge-ghost">Abilities</div>
								<div *ngSwitchCase="'electric'" class="badge badge-pill badge-electric">Abilities</div>
								<div *ngSwitchCase="'psychic'" class="badge badge-pill badge-psychic">Abilities</div>
								<div *ngSwitchCase="'ice'" class="badge badge-pill badge-ice">Abilities</div>
								<div *ngSwitchCase="'dragon'" class="badge badge-pill badge-dragon">Abilities</div>
								<div *ngSwitchCase="'dark'" class="badge badge-pill badge-dark">Abilities</div>
								<div *ngSwitchCase="'steel'" class="badge badge-pill badge-steel">Abilities</div>
								<div *ngSwitchCase="'fairy'" class="badge badge-pill badge-fairy">Abilities</div>
							</span>
						</h4>
						<ul class="list-group list-group-flush center">
							<li *ngFor="let ability of abilities" class="list-group-item">
								<b>{{ ability.ability.name | uppercase }}</b>
							</li>
						</ul>

						<h4 class="container center">
							<span [ngSwitch]="mainType">
								<div *ngSwitchCase="'normal'" class="badge badge-pill badge-normal">Properties</div>
								<div *ngSwitchCase="'grass'" class="badge badge-pill badge-grass">Properties</div>
								<div *ngSwitchCase="'fire'" class="badge badge-pill badge-fire">Properties</div>
								<div *ngSwitchCase="'water'" class="badge badge-pill badge-water">Properties</div>
								<div *ngSwitchCase="'fighting'" class="badge badge-pill badge-fighting">Properties</div>
								<div *ngSwitchCase="'flying'" class="badge badge-pill badge-flying">Properties</div>
								<div *ngSwitchCase="'poison'" class="badge badge-pill badge-poison">Properties</div>
								<div *ngSwitchCase="'ground'" class="badge badge-pill badge-ground">Properties</div>
								<div *ngSwitchCase="'rock'" class="badge badge-pill badge-rock">Properties</div>
								<div *ngSwitchCase="'bug'" class="badge badge-pill badge-bug">Properties</div>
								<div *ngSwitchCase="'ghost'" class="badge badge-pill badge-ghost">Properties</div>
								<div *ngSwitchCase="'electric'" class="badge badge-pill badge-electric">Properties</div>
								<div *ngSwitchCase="'psychic'" class="badge badge-pill badge-psychic">Properties</div>
								<div *ngSwitchCase="'ice'" class="badge badge-pill badge-ice">Properties</div>
								<div *ngSwitchCase="'dragon'" class="badge badge-pill badge-dragon">Properties</div>
								<div *ngSwitchCase="'dark'" class="badge badge-pill badge-dark">Properties</div>
								<div *ngSwitchCase="'steel'" class="badge badge-pill badge-steel">Properties</div>
								<div *ngSwitchCase="'fairy'" class="badge badge-pill badge-fairy">Properties</div>
							</span>
						</h4>
						<ul class="list-group list-group-flush center">
							<li class="list-group-item"><b>Height:</b> {{ pokemon.height }}</li>
							<li class="list-group-item"><b>Weight:</b> {{ pokemon.weight }}</li>
							<li class="list-group-item"><b>Health:</b> {{ pokemon.stats[0].base_stat }}</li>
							<li class="list-group-item"><b>Atack:</b> {{ pokemon.stats[1].base_stat }}</li>
						</ul>
					</div>

					<div class="col-md-8">
						<h4 class="container center">
							<span [ngSwitch]="mainType">
								<div *ngSwitchCase="'normal'" class="badge badge-pill badge-normal">Images</div>
								<div *ngSwitchCase="'grass'" class="badge badge-pill badge-grass">Images</div>
								<div *ngSwitchCase="'fire'" class="badge badge-pill badge-fire">Images</div>
								<div *ngSwitchCase="'water'" class="badge badge-pill badge-water">Images</div>
								<div *ngSwitchCase="'fighting'" class="badge badge-pill badge-fighting">Images</div>
								<div *ngSwitchCase="'flying'" class="badge badge-pill badge-flying">Images</div>
								<div *ngSwitchCase="'poison'" class="badge badge-pill badge-poison">Images</div>
								<div *ngSwitchCase="'ground'" class="badge badge-pill badge-ground">Images</div>
								<div *ngSwitchCase="'rock'" class="badge badge-pill badge-rock">Images</div>
								<div *ngSwitchCase="'bug'" class="badge badge-pill badge-bug">Images</div>
								<div *ngSwitchCase="'ghost'" class="badge badge-pill badge-ghost">Images</div>
								<div *ngSwitchCase="'electric'" class="badge badge-pill badge-electric">Images</div>
								<div *ngSwitchCase="'psychic'" class="badge badge-pill badge-psychic">Images</div>
								<div *ngSwitchCase="'ice'" class="badge badge-pill badge-ice">Images</div>
								<div *ngSwitchCase="'dragon'" class="badge badge-pill badge-dragon">Images</div>
								<div *ngSwitchCase="'dark'" class="badge badge-pill badge-dark">Images</div>
								<div *ngSwitchCase="'steel'" class="badge badge-pill badge-steel">Images</div>
								<div *ngSwitchCase="'fairy'" class="badge badge-pill badge-fairy">Images</div>
							</span>
						</h4>
						<div class="container">
							<div id="carouselExampleControls" class="carousel slide" aria-setsize="40px" data-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img [src]="imagefront" class="d-block w-100" alt="..." />
									</div>
									<div class="carousel-item">
										<img [src]="imageback" class="d-block w-100" alt="..." />
									</div>
								</div>
								<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
